{{!-- open bootstrap container - leveraging the auto sizing --}}
<div class="row">
    <div class="col-md-12 d-inline-block p-3 border">
        <h2 class="float-left">
            <i>Chicago Tribune Article Scraper</i>
        </h2>
        <a class="btn btn-primary float-right" id="scrapeBtn" role="button">Scrape new articles</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="articles">
                {{#each articles_data}}
                <div class="row mx-2">
                    <div class="col-md-3">
                        <div id="imgDiv">
                            <img src={{articleImageLink}} class="article-gif img-fluid mx-auto d-block" alt={{articleImageAlt}} title={{articleImageTitle}}>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h6>Section: {{section}}</h6>
                        <a class="btn btn-primary float-right" id="addNoteBtn" role="button" data-id={{_id}}>
                            <i class="fas fa-bullhorn"></i>Add note
                        </a>
                        <h4>
                            <a href={{articleLink}}>{{title}}</a>
                        </h4>
                        <p>{{summary}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<div id="note-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="notes">
                </div>
            </div>
            <div id="notes-footer">

            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
<div id="scrape-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>
{{!-- close container --}}